<li>
    {% if node.item %}
        {% if node.item.url == current.url %}
            <p class="nav-link active">
                {{ node.item.name }}
            </p>
        {% else %}
            <a href="{{ node.item.get_absolute_url }}">
                {{ node.item.name }}
            </a>
        {% endif %}
    {% else %}
        {% if node.item.url == current.url %}
            <p class="nav-link active">
                {{ node.name }}
            </p>
        {% else %}
            <a href="{{ node.get_absolute_url }}">
                {{ node.name }}
            </a>
        {% endif %}
    {% endif %}

    {% if node.child %}
        <ul>
            {% for item in node.child %}
                {% include "menu/template_tags/menu_node.html" with node=item %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
